@font-face {
  font-family: workSans;
  src: url(../fonts/Demo_Fonts/WorkSans-Light.ttf);
}
@font-face {
  font-family: workSansbold;
  src: url(../fonts/Demo_Fonts/WorkSans-Bold.ttf);
}
@font-face {
  font-family: workSansbolder;
  src: url(../fonts/Demo_Fonts/WorkSans-ExtraBold.ttf);
}
@font-face {
  font-family: workSansthin;
  src: url(../fonts/Demo_Fonts/WorkSans-Thin.ttf);
}
@font-face {
  font-family: workSansreg;
  src: url(../fonts/Demo_Fonts/WorkSans-Regular.ttf);
}
@font-face {
  font-family: workSansli;
  src: url(../fonts/Demo_Fonts/WorkSans-ExtraLight.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.minis {
  font-family: workSans !important;
  color: #323232;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  text-decoration: none solid rgb(50, 50, 50);
  text-align: left;
  word-spacing: 0px;
}
.list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.list li {
  display: flex;
  list-style: none;
}
.boxxs {
  width: 200px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexc {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexc i {
  cursor: pointer;
}
.bgbx {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list li a:link {
  color: #323232;
}
.list li a:hover {
  color: #323232;
}
.list li a:visited {
  color: #323232;
}
.list li a:active {
  color: #323232;
}
.search {
  margin-left: 30px;
  font-size: large;
  color: #494b4d;
}
.contact {
  background-color: #f9dd00;
  background-position: 0% 0%;
  color: #323232;
  margin-left: 200px;
  height: 58px;
  width: 178px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact a {
  color: #323232;
  font-size: 18px;
  font-weight: 800;
  line-height: 18px;
  text-decoration: none solid rgb(50, 50, 50);
  text-align: center;
  word-spacing: 0px;
}
.contact a span {
  color: #323232;
  line-height: 18px;
  text-align: center;
}

.slider {
  position: relative;
  height: 800px;
  width: 100%;
  background-color: #494b4d;
}

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slide {
  flex: 25%;
}

.slide img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
  color: white;
  z-index: 100;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 80px;
}
.logo img {
  height: 46.2891px;
}
.contentca {
  position: absolute;
  z-index: 10;
}

.list-2 {
  display: flex;
  justify-content: center;
  align-items: end;
  padding-left: 220px;
}
.list-2 li {
  list-style: none;
  margin-left: 10px;
}

.list-2 li a {
  font-family: workSansbold;
  font-size: 14px;
  line-height: 22.5px;
  text-decoration: none solid rgb(74, 74, 74);
  word-spacing: 0px;
  color: #ffffff;
  list-style: none;
  padding: 12px;
}

.list-2 li a:hover {
  border-bottom: solid 3px #f9dd00;
  transition: 0.25s;
  transition-delay: 0.2s;
}
.mini {
  font-family: workSans !important;
  font-size: 16px;
  line-height: 24px;
  color: #4a4a4a;
  text-decoration: none solid rgb(74, 74, 74);
  text-align: left;
  word-spacing: 0px;
}
.minif {
  font-family: workSans !important;
  font-size: 16px;
  margin-top: 40px;
  line-height: 24px;
  width: 585px;
  color: #4a4a4a;
  text-decoration: none solid #4a4a4a;
  text-align: left;
  word-spacing: 0px;
}
.text {
  height: 400px;
  width: 640px;
  min-height: auto;
  min-width: auto;
  padding: 90px;
}
.text h1 {
  font-family: workSansbold !important;
  color: #4a4a4a;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -1.2px;
  line-height: 1px;
  text-decoration: none solid rgb(74, 74, 74);
  text-align: left;
  word-spacing: 0px;
}

.text h2 {
  font-family: workSansli !important;
  font-size: 38px;
  color: #4a4a4a;
  font-weight: 300;
  letter-spacing: -0.1px;
  line-height: 3.8px;
  text-decoration: none solid rgb(119, 119, 119);
  text-align: left;
  margin-top: 40px;
  word-spacing: 0px;
}
.text img {
  margin-bottom: 40px;
  margin-top: 40px;
}
.boxes {
  padding-top: 70px;
}
.containerrr {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  position: relative;
  height: 380px;
  border: 0.7px solid #d3d3d5;
}
.svg {
  padding: 20px;
}
.box {
  position: absolute;
  width: 50%;
  height: 50%;
  border: 0.7px solid #d3d3d5;
  transition: all 0.4s ease;
}
.box p {
  font-family: workSansbold;
  margin-top: 55px;
  margin-left: 20px;
  font-size: 19px;
  font-weight: 800;
  line-height: 0px;
  color: #5a5959;
  text-decoration: none solid rgb(77, 77, 77);
  text-align: left;
}

.box:hover {
  z-index: 100;
  width: 57%;
  height: 57%;
}
.box:nth-child(1) {
  top: 0;
  left: 0;
}
.box:nth-child(2) {
  top: 0;
  right: 0;
}
.box:nth-child(3) {
  bottom: 0;
  left: 0;
}
.box:nth-child(4) {
  bottom: 0;
  right: 0;
}

.box:nth-child(1):hover {
  top: -4%;
  left: -3%;
  background-color: #872891;
}
.box:nth-child(1):hover p {
  font-size: 21px;
  color: #ffffff;
}
.box:nth-child(2):hover p {
  font-size: 21px;
  color: #ffffff;
}
.box:nth-child(3):hover p {
  font-size: 21px;
  color: #ffffff;
}
.box:nth-child(4):hover p {
  font-size: 21px;
  color: #ffffff;
}
.box:nth-child(2):hover {
  top: -4%;
  right: -3%;
  background-color: #ffcd06;
}
.box:nth-child(3):hover {
  bottom: -4%;
  left: -3%;
  background-color: #00b45b;
}
.box:nth-child(4):hover {
  bottom: -4%;
  right: -3%;
  background-color: #2282c8;
}

.box:nth-child(1):hover svg g path {
  stroke: #ffffff;
}
.box:nth-child(2):hover svg g path {
  stroke: #ffffff;
}
.box:nth-child(2):hover svg g circle {
  stroke: #ffffff;
}
.box:nth-child(3):hover svg g path {
  stroke: #ffffff;
}
.box:nth-child(4):hover svg g path {
  stroke: #ffffff;
}

.textt {
  height: 400px;
  width: 640px;
  min-height: auto;
  min-width: auto;
  padding: 90px;
}
.textt h1 {
  font-family: workSansbold !important;
  color: #4a4a4a;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 40px;
  letter-spacing: -1.2px;
  line-height: 1px;
  text-decoration: none solid rgb(74, 74, 74);
  text-align: left;
  word-spacing: 0px;
}

.textt h2 {
  font-family: workSansli !important;
  font-size: 50px;
  color: #4a4a4a;
  font-weight: 300;
  letter-spacing: -0.1px;
  line-height: 3.8px;
  text-decoration: none solid rgb(119, 119, 119);
  text-align: left;
  margin-bottom: 40px;
  word-spacing: 0px;
}

a {
  text-decoration: none;
}
.boxx {
  width: 550px;
  display: flex;
  margin-left: 75px;
}
.boxx p {
  font-family: workSans;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none solid rgb(50, 50, 50);
}

.boxx h3 {
  font-family: workSansbold;
  font-size: 21px;
  line-height: 27.93px;
  color: #323232;
  text-decoration: none solid rgb(50, 50, 50);
  word-spacing: 0px;
  cursor: pointer;
}
.boxx a {
  font-size: 14px;
  font-weight: 800;
  line-height: 18.62px;
  text-decoration: none solid rgb(74, 74, 74);
  color: #4a4a4a;
  word-spacing: 0px;
}

.boxx img {
  width: 200px;
  height: 200px;
}
.txt {
  margin-left: 50px;
}

.boxx-2 {
  width: 550px;
  display: flex;
  margin-left: 15px;
}
.boxx-2 p {
  font-family: workSans;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none solid rgb(50, 50, 50);
  word-spacing: 0px;
}

.boxx-2 h3 {
  font-family: workSansbold;
  font-size: 21px;
  line-height: 27.93px;
  color: #323232;
  text-decoration: none solid rgb(50, 50, 50);
  word-spacing: 0px;
  cursor: pointer;
}
.boxx-2 a {
  font-size: 14px;
  font-weight: 800;
  line-height: 18.62px;
  text-decoration: none solid rgb(74, 74, 74);
  color: #4a4a4a;
  word-spacing: 0px;
}

.boxx-2 img {
  width: 200px;
  height: 200px;
}

.element {
  height: 415px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/code-academy-bgphoto.jpeg");
}

.bc-swiper {
  height: 415.859px;
  width: 1140px;
  padding: 50px 50px 50px 50px;
  min-height: auto;
  min-width: auto;
}
.parag {
  margin-top: 50px;
  margin-left: 170px;
  height: 80.859px;
  width: 1000.062px;
}
.parag p {
  font-family: workSansbold;
  font-size: 21px;
  font-weight: 800;
  line-height: 27.93px;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  word-spacing: 0px;
  color: #ffffff;
}
.numerals {
  height: 90px;
}
.numerals .nu p {
  text-decoration: none;
  list-style: none;
  color: #f4f5f8;
  font-family: workSansbold;
  font-size: 80px;
  padding-left: 50px;
}
.numerals .nu .se {
  padding-left: 80px;
}
.numerals .nu .ti {
  padding-left: 140px;
}
.numerals .nu .fo {
  padding-left: 130px;
}
.numerals .nu {
  margin-left: 100px;
  display: flex;
  align-items: start;
}

.words .nu p {
  position: absolute;
  z-index: 200;
  text-decoration: none;
  list-style: none;
  color: #f4f5f8;
  font-family: workSansli;
  font-size: 27px;
  padding-left: 50px;
}
.words .nu .fi {
  padding-left: 75px;
}
.words .nu .se {
  padding-left: 90px;
}
.words .nu .ti {
  padding-left: 150px;
}
.words .nu .fo {
  padding-left: 115px;
}
.words .nu {
  margin-left: 100px;
  display: flex;
  align-items: start;
}

.footer {
  background-color: #ffffff;
  width: 1425px;
  margin: 150px 0 55px 0;
  padding: 0 50px 0 50px;
}
.lis {
  margin-right: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.lis li {
  list-style: none;
}
.firstli {
  margin-top: 150px;
}
.seccondli {
  margin-left: 100px;
  margin-top: 100px;
}
.thirdli {
  margin-left: 100px;
}
.firstli li a {
  font-size: 13px;
  font-weight: 500;
  font-family: workSans;
  line-height: 24px;
  text-decoration: none solid rgb(143, 143, 143);
  text-align: left;
  word-spacing: 0px;
}

.seccondli li a {
  font-size: 13px;
  font-family: workSans;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none solid rgb(143, 143, 143);
  text-align: left;
  word-spacing: 0px;
}
.thirdli li a {
  font-family: workSansbold;
  color: #323232;
  font-size: 14px;
  font-weight: 800;
  line-height: 18.62px;
  text-decoration: none solid rgb(50, 50, 50);
  word-spacing: 0px;
}

.firstli li a:visited,
link,
:active {
  color: #8f8f8f;
}

.seccondli li a:visited,
link,
:active {
  color: #8f8f8f;
}

.bottom-footer {
  height: 84px;
  background-color: #f4f5f8;
  width: 100%;
  padding: 30px 0 30px 0;
}
.fotter p {
  font-family: workSans;
  font-size: 15px;
  line-height: 24px;
  text-decoration: none solid rgb(74, 74, 74);
  text-align: center;
  word-spacing: 0px;
}

.miniss {
  font-family: workSansli;
  font-size: 13px;
  line-height: 19.5px;
  text-decoration: none solid rgb(50, 50, 50);
  text-align: left;
  padding: 60px;
  height: 40px;

  word-spacing: 0px;
}
.imagess {
  padding-top: 50px;
  height: 40px;

  padding-left: 120px;
}
.bt {
  height: 80px;
  padding-left: 60px;
}
.comment {
  height: 40px;
  margin-top: 50px;
}
.comment h3 {
  font-family: workSansli;
  font-size: 50px;
  color: #4a4a4a;
  letter-spacing: 0.5px;
  line-height: 1.5px;
  text-decoration: none solid rgb(74, 74, 74);
  text-align: center;
  word-spacing: 0px;
}
.infosss {
  height: 40px;
  margin-top: 50px;
}
.infosss p {
  font-family: workSansli;

  font-size: 19.5px;
  font-style: italic;
  line-height: 29.25px;
  text-decoration: none solid rgb(74, 74, 74);
  text-align: center;
  word-spacing: 0px;
}
.img-btl {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-btl img {
  position: absolute;
  left: 37%;
  top: 40%;
  height: 100px;
  width: 100px;
  max-width: 100%;
  border-radius: 50%;
}
.txttt {
  margin: 40px;

  position: absolute;
  left: 43%;
  top: 40%;
}
.txttt h6 {
  font-family: workSansbold;
  color: #4a4a4a;
  font-size: 21px;
  font-weight: 800;
  line-height: 27.93px;
  text-decoration: none solid rgb(74, 74, 74);
  text-align: left;
  word-spacing: 0px;
}
.txttt span {
  font-family: workSans;
  font-size: 14px;
  font-weight: 500;
  color: #8f8f8f;
  line-height: 20px;
  text-decoration: none solid rgb(143, 143, 143);
  text-align: left;
  word-spacing: 0px;
}

.part {
  margin-top: 350px;
  height: 287.5px;
  width: 1425px;
}

.part h4 {
  height: 40px;
  font-family: workSansli;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -1.2px;
  line-height: 70px;
  color: #4a4a4a;
  text-decoration: none solid rgb(74, 74, 74);
  text-align: center;
}

.part h3 {
  font-family: workSansbold;
  color: #4a4a4a;
  font-size: 50px;
  letter-spacing: -1.5px;
  line-height: 50px;
  text-decoration: none solid rgb(74, 74, 74);
  text-align: center;
  word-spacing: 0px;
}

.part p {
  font-family: workSans;
  font-size: 15px;
  color: #4a4a4a;
  line-height: 22.5px;
  text-decoration: none solid rgb(74, 74, 74);
  text-align: center;
  word-spacing: 0px;
}

.part img {
  margin-top: 30px;
  left: 46.3%;
  position: absolute;
}
.imagefs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.imagefs li {
  list-style: none;
}

.imagefs li:nth-child(1) img {
  height: 30px;
}

.imagefs li:nth-child(2) img {
  height: 32.5px;
}

.imagefs li:nth-child(3) img {
  height: 58px;
}

.imagefs li:nth-child(4) img {
  height: 67.5px;
}

.imagefs li:nth-child(5) img {
  height: 24px;
}

.imagefs li:nth-child(6) img {
  height: 67.5px;
}

.parttt {
  margin-top: 120px;
  height: 160.5px;
  width: 1425px;
}

.parttt img {
  margin-top: 30px;
  left: 46.3%;
  position: absolute;
}

.parttt h4 {
  height: 40px;
  font-family: workSansli;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -1.2px;
  line-height: 70px;
  color: #4a4a4a;
  text-decoration: none solid rgb(74, 74, 74);
  text-align: center;
}

.parttt h3 {
  font-family: workSansbold;
  color: #4a4a4a;
  font-size: 50px;
  letter-spacing: -1.5px;
  line-height: 50px;
  text-decoration: none solid rgb(74, 74, 74);
  text-align: center;
  word-spacing: 0px;
}

.parttt p {
  font-family: workSans;
  font-size: 15px;
  color: #4a4a4a;
  line-height: 22.5px;
  text-decoration: none solid rgb(74, 74, 74);
  text-align: center;
  word-spacing: 0px;
}

.box-xl {
  height: 150px;
  width: 150px;
  position: relative;
  overflow: hidden;
  background-color: #2282c8;
  margin-left: 31px;
  margin-top: 31px;
}
.box-xl img {
  height: 150px;
  width: 150px;
}
.boxes-xl {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: filter 0.5s ease;
  display: flex;
}
.box-xl:hover {
  filter: grayscale(100%);
}

.question {
  background-color: #f4f5f8;
  height: 516px;
  width: 100%;
}
.question h4 {
  font-family: workSansli;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: -1.5px;
  color: #4a4a4a;
  line-height: 52px;
  text-decoration: none solid rgb(74, 74, 74);
  word-spacing: 0px;
}
.question h5 {
  padding-left: 50px;
  font-family: workSansbold;
  font-size: 50px;
  color: #4a4a4a;
  letter-spacing: -1.5px;
  line-height: 52px;
  text-decoration: none solid rgb(74, 74, 74);
  word-spacing: 0px;
}
.question p {
  font-family: workSans;
  padding-left: 50px;
  font-size: 15px;
  color: #4a4a4a;
line-height: 22.5px;
text-decoration: none solid rgb(74, 74, 74);
word-spacing: 0px;
}
.box-no1 {
  margin-top: 100px;
  margin-left: 180px;
  height: 316px;
  width: 410px;
}
